name: Winget version badge update

on:
   workflow_dispatch:
   # workflow_run:
   #   workflows: [Publish to WinGet]
   #   types:
   #     - completed
   schedule: [{cron: "0 0 */2 * *"}]

jobs:
  update-badge:
    name: Update latest version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Cheerio
        run: npm install cheerio

      - name: Fetch PR status
        uses: actions/github-script@v7
        id: get-pr
        env:
          REPO_OWNER: 'microsoft'
          REPO_NAME: 'winget-pkgs'
          AUTHOR: 'rcmaehl'
        with:
          script: |
            const cheerio = require('cheerio');

            const repoOwner = process.env.REPO_OWNER;
            const repoName = process.env.REPO_NAME;
            const author = process.env.AUTHOR;

            core.info(`Fetching latest PR by author ${author} in ${repoOwner}/${repoName}`);

            const url = `https://github.com/${repoOwner}/${repoName}/pulls?q=is%3Apr+author%3A${author}`;
            let number = null;

            try {
              const response = await fetch(url);
              const text = await response.text();

              const $ = cheerio.load(text);

              const container = $('.js-active-navigation-container');
              if (container.length > 0) {
                const firstDiv = container.find('div').first();
                if (firstDiv.length > 0) {
                  const id = firstDiv.attr('id');
                  const match = id.match(/issue_(\d+)/);
                  if (match) {
                    number = match[1];
                    core.info(`Extracted PR number: ${number}`);
                  }
                }
              }
            } catch (error) {
              core.setOutput('pr_number', 'none');
              core.setOutput('pr_status', 'none');
              core.setFailed(`Fetch failed with error: ${error.message}`);
              return;
            }

            if (number) {
              try {
                const { data: pullRequest } = await github.rest.pulls.get({
                  owner: repoOwner,
                  repo: repoName,
                  pull_number: parseInt(number)
                });
                
                if (!pullRequest) {
                  core.info(`No pull requests found in the repository.`);
                  core.setOutput('pr_number', 'none');
                  core.setOutput('pr_status', 'none');
                  return;
                }

                core.setOutput('pr_number', number);
                core.setOutput('pr_status', pullRequest.state);
              } catch (err) {
                core.setFailed(`Request failed with error: ${err.message}`);
              }
            }

      - name: Winget Version Badge
        uses: gnpaone/winget-version-badge@v1.0.3
        with:
          id: "rcmaehl.MSEdgeRedirect"
          marker_text: "WINGET_PKG"
          pkg_link: "https://github.com/microsoft/winget-pkgs/tree/master/manifests/r/rcmaehl/MSEdgeRedirect"
          newline: "false"
          color: ${{ steps.get-pr.outputs.pr_status == 'closed' && 'brightgreen' || 'orange' }}
          confirm_and_push: "false"
        id: latestver

      - run: |
         rm .git/COMMIT_EDITMSG 
         rm .git/logs/HEAD
         rm .git/logs/refs/heads/main

      - name: Create pull request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ steps.latestver.outputs.commit_message }}"
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          branch: github-actions/repo-update
          delete-branch: true
          title: Update README

      - name: Enable pull request automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.MSEdgeRedirect_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}

      - name: Auto approve
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: juliangruber/approve-pull-request-action@v2
        with:
          github-token: ${{ secrets.MSEdgeRedirect_PAT }}
          number: ${{ steps.cpr.outputs.pull-request-number }}

      - name: Delete PRs head branch
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ secrets.MSEdgeRedirect_PAT }}
          numbers: ${{ steps.cpr.outputs.pull-request-number }}

      - name: Disable Workflow
        if: steps.get-pr.outputs.pr_status == 'closed'
        uses: StephenMP/workflow-toggle@v2.0.1
        with:
          token: ${{ secrets.MSEdgeRedirect_PAT }}
          workflow_id: winget-badge-update.yml
          action: disable
          
